@mixin sitefont {
    font-family: $ffamily;
    font-size: $fsize;
    color: $black;
    text-rendering: geometricPrecision;
    -moz-text-rendering: geometricPrecision;
    -webkit-text-rendering: geometricPrecision;
    -ms-text-rendering: geometricPrecision;
    -o-text-rendering: geometricPrecision;
    font-weight: 400;
}

@mixin shadow-bot {
    box-shadow: 0 3px 3px $gray;
    -moz-box-shadow: 0 3px 3px $gray;
    -webkit-box-shadow: 0 3px 3px $gray;
    -ms-box-shadow: 0 3px 3px $gray;
    -o-box-shadow: 0 3px 3px $gray;
}
@mixin shadow-center {
    box-shadow: 0 0 3px $gray;
    -moz-box-shadow: 0 0 3px $gray;
    -webkit-box-shadow: 0 0 3px $gray;
    -ms-box-shadow: 0 0 3px $gray;
    -o-box-shadow: 0 0 3px $gray;
}

@mixin transition {
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

@mixin objectfitcover{
    object-fit: cover;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
}


// Extra small devices (portrait phones, less than 576px)
@mixin mob {
    @media (min-width:#{$mobile-width}) and (max-width:#{$mlandscape-width - 1}) {
        @content;
    }
}

// Small devices (landscape phones, 576px and  797px)
@mixin mscape {
    @media (min-width:#{$mlandscape-width}) and (max-width:#{$tablet-width - 1}) {
        @content;
    }
}


// Medium devices (tablets, 768px and 991px)
@mixin tab {
    @media (min-width:#{$tablet-width}) and (max-width:#{$laptop-width - 1}) {
        @content;
    }
}

// Large devices (desktops, 992px and up)
@mixin lap {
    @media (min-width:#{$laptop-width}) and (max-width:#{$desktop-width - 1}) {
        @content;
    }
}