$pcolor:#aa0400; //primary color
$white:#ffffff; //white color
$black:#000000; //black color
$gray:#969696; //gray color
$orange:#ffc600; //orange color
$fsize:15px;
$green:green;
$red:red;
$blue:#0b91d7;
$lightblue:#f4f8fb;

//site font 
$ffamily:'Lato', sans-serif;


//device breakpoints variblaes
$mobile-width:320px; //mobile basic breakpoints
$mlandscape-width:576px; //small devices
$tablet-width:768px; //medium devices 
$laptop-width:992px; //large devices 
$desktop-width:1200px; //extra large 