.orderform p{
    text-align:left;
    font-size:14px;
    padding-bottom:0;
    line-height:20px;
}
/** styles on 17-06-2020**/
.orderform .c-col{
padding:8px!important;
align-self: center;
}
.orderform select.form-control{
    min-height:32px;
    padding:4px;
}
.orderform .form-group{
    margin-bottom:0;
}

.egg-less{
        font-size:13px;
}

.orderform .c-col .icon-inr{    
    position:relative!important;
    top:1px!important;
}


@media (min-width:320px) and (max-width:575px){
    .orderform .c-col p{
       font-size:13px;      
    }
    .egg-less{
        font-size:11px;
    }
}

.order-online .brandimg{
    width:150px;
}