@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900&display=swap&subset=latin-ext");
body {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #000000;
  text-rendering: geometricPrecision;
  -moz-text-rendering: geometricPrecision;
  -webkit-text-rendering: geometricPrecision;
  -ms-text-rendering: geometricPrecision;
  -o-text-rendering: geometricPrecision;
  font-weight: 400;
}

body .dropdown-toggle::after {
  display: none;
}

body ul,
body li {
  list-style: none;
  padding: 0;
}

body p {
  margin-bottom: 0;
}

body .fred {
  color: #aa0400;
}

body .fgreen {
  color: green;
}

body .fgray {
  color: #969696;
}

body .fblue, body .notification-item:hover .link-notification, .notification-item:hover body .link-notification, body .notification-item div .link-notification, .notification-item div body .link-notification {
  color: #0b91d7;
}

body small,
body .small {
  font-size: 12px;
}

body .fbold, body .mlink, body footer .subscribe-section .subscribe-footer .btn-sub, footer .subscribe-section .subscribe-footer body .btn-sub, body header .special-nav .navbar-brand, header .special-nav body .navbar-brand, body header .special-rightnav .nav-link, header .special-rightnav body .nav-link, body .cartlist-header span, .cartlist-header body span, body .notification-item:hover .link-notification, .notification-item:hover body .link-notification, body .notification-item div .link-notification, .notification-item div body .link-notification {
  font-weight: 600;
}

body .flight {
  font-weight: 300;
}

body a {
  color: inherit;
}

body a:hover {
  text-decoration: none;
}

body .veg {
  padding: 2px;
  border: 1px solid green;
  background: #ffffff;
}

body .veg .icomoon {
  color: green;
  font-size: 14px;
}

body .no-shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .nv {
  padding: 2px;
  border: 1px solid red;
  background: #ffffff;
}

body .nv .icomoon {
  color: red;
  font-size: 14px;
}

body .mbadge {
  position: absolute;
  top: 5px;
  left: 4px;
  font-size: 12px;
  color: #ffffff;
  padding: 3px;
  text-transform: uppercase;
}

body .blue-badge {
  background: #0b91d7;
}

body .green-badge {
  background: green;
}

body .red-badge {
  background: red;
}

body .whitespan {
  background: #ffffff;
  padding: 2px 10px;
  color: #aa0400;
}

body .border_radius, body header .main-nav .main-navbar .righttop-nav .nav-link, header .main-nav .main-navbar .righttop-nav body .nav-link {
  border-radius: 40px;
  min-width: 100px;
  padding: 5px 15px;
}

body .form-control {
  border-radius: 0;
  font-size: 14px;
  min-height: 40px;
}

body .mlink, body footer .subscribe-section .subscribe-footer .btn-sub, footer .subscribe-section .subscribe-footer body .btn-sub {
  background: #aa0400;
  color: #ffffff;
  padding: 8px 40px 8px 25px;
  border-radius: 25px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  text-align: center;
  height: 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 13px;
}

@media (min-width: 320px) and (max-width: 575px) {
  body .mlink, body footer .subscribe-section .subscribe-footer .btn-sub, footer .subscribe-section .subscribe-footer body .btn-sub {
    padding: 8px 25px 8px 15px;
    font-size: 11px;
  }
}

body .mlink .icomoon, body footer .subscribe-section .subscribe-footer .btn-sub .icomoon, footer .subscribe-section .subscribe-footer body .btn-sub .icomoon {
  margin-left: -25px;
  opacity: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: relative;
  top: 4px;
}

body .mlink:hover, body footer .subscribe-section .subscribe-footer .btn-sub:hover, footer .subscribe-section .subscribe-footer body .btn-sub:hover {
  padding: 8px 25px 8px 25px !important;
  color: #ffffff !important;
}

body .mlink:hover .icomoon, body footer .subscribe-section .subscribe-footer .btn-sub:hover .icomoon, footer .subscribe-section .subscribe-footer body .btn-sub:hover .icomoon {
  margin-left: 5px;
  opacity: 1;
  color: #ffffff !important;
}

body button.mlink, body footer .subscribe-section .subscribe-footer button.btn-sub, footer .subscribe-section .subscribe-footer body button.btn-sub {
  border: none;
}

body button.mlink:focus, body footer .subscribe-section .subscribe-footer button.btn-sub:focus, footer .subscribe-section .subscribe-footer body button.btn-sub:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .inputlink {
  border: none;
  padding-right: 20px;
}

body .inputlink:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .brd-link {
  padding: 8px 16px;
  border: 1px solid #d6d6d6;
  display: inline-block;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  height: 40px;
  font-size: 14px;
  line-height: 22px;
}

body .brd-link:hover {
  background: #aa0400;
  color: #ffffff;
  border: 1px solid #aa0400;
}

body .lblue-bg {
  background: #f4f8fb;
  padding: 25px 0;
}

body input:focus,
body .form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #aa0400 !important;
  outline: none;
}

.fixed-theme {
  box-shadow: 0 3px 3px #969696;
  -moz-box-shadow: 0 3px 3px #969696;
  -webkit-box-shadow: 0 3px 3px #969696;
  -ms-box-shadow: 0 3px 3px #969696;
  -o-box-shadow: 0 3px 3px #969696;
}

.fixed-theme .top_header {
  margin-top: -117px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .fixed-theme .top_header {
    margin-top: -42px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .fixed-theme .top_header {
    margin-top: -42px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .fixed-theme .top_header {
    margin-top: -30px;
  }
}

.cart-list-dropdown {
  min-width: 300px;
}

.cart-list-dropdown .list-group {
  margin-top: 15px;
}

.cart-list-dropdown .list-group .list-group-item .cart-listimg {
  width: 50px;
  margin-right: 10px;
  margin-bottom: 0;
}

.cart-list-dropdown .list-group .list-group-item .cart-listimg img {
  width: 50px;
}

.cart-list-dropdown .list-group .h6,
.cart-list-dropdown .list-group span {
  font-size: 14px;
}

.dropdown-menu-arrow {
  top: -25px;
  left: 25%;
  width: 0;
  height: 0;
  position: relative;
}

@media (min-width: 320px) and (max-width: 575px) {
  .dropdown-menu-arrow {
    display: none;
  }
}

.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-width: 7px 8px;
  border-style: solid;
  border-color: transparent;
  z-index: 1001;
}

.dropdown-menu-arrow:after {
  bottom: -18px;
  right: -8px;
  border-bottom-color: #fff;
}

.dropdown-menu-arrow:before {
  bottom: -17px;
  right: -8px;
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

header {
  background: #ffffff;
}

header .mlink, header footer .subscribe-section .subscribe-footer .btn-sub, footer .subscribe-section .subscribe-footer header .btn-sub {
  padding: 8px 40px 8px 25px !important;
  line-height: 22px !important;
}

header .mlink .icomoonshop, header footer .subscribe-section .subscribe-footer .btn-sub .icomoonshop, footer .subscribe-section .subscribe-footer header .btn-sub .icomoonshop {
  color: #ffffff !important;
  font-size: inherit !important;
}

header .top_header {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

header .top_header .primary-nav {
  background: #aa0400;
  padding: 5px 0;
  font-size: 13px;
  color: #ffffff;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .top_header .primary-nav {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .top_header .primary-nav {
    display: none;
  }
}

header .top_header .primary-nav .nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
}

header .top_header .primary-nav .nav .nav-link:last-child {
  padding-right: 0;
}

header .top_header .primary-nav .nav .nav-link:hover {
  color: #ffc600;
}

@media (min-width: 768px) and (max-width: 991px) {
  header .top_header .secondary-nav {
    padding-top: 10px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  header .top_header .secondary-nav .searchrow {
    background: #aa0400;
    padding-bottom: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .top_header .secondary-nav .searchrow {
    background: #aa0400;
    padding-bottom: 10px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  header .top_header .secondary-nav .brand-section {
    padding: 5px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .top_header .secondary-nav .brand-section {
    padding: 5px 0;
  }
}

header .top_header .secondary-nav .brand-section .brandimg {
  width: 150px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .top_header .secondary-nav .brand-section .brandimg {
    width: 75px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .top_header .secondary-nav .brand-section .brandimg {
    width: 75px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .top_header .secondary-nav .brand-section .brandimg {
    width: 120px;
  }
}

header .top_header .secondary-nav .dropdown-menu {
  border-radius: 0;
}

header .top_header .secondary-nav .p-link {
  padding-left: 20px;
}

header .top_header .secondary-nav .p-link .icon-caret-down {
  font-size: 12px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .top_header .secondary-nav .p-link {
    padding: 0 5px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .top_header .secondary-nav .p-link {
    padding: 0 5px;
  }
}

header .top_header .secondary-nav .p-link a {
  line-height: 18px;
}

header .top_header .secondary-nav .p-link a:hover {
  color: #969696;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .top_header .secondary-nav .p-link a span {
    font-size: 13px;
    color: #ffffff;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .top_header .secondary-nav .p-link a span {
    font-size: 13px;
    color: #ffffff;
  }
}

header .top_header .secondary-nav .p-link .icomoon1 {
  font-size: 23px;
  color: #969696;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .top_header .secondary-nav .p-link .icomoon1 {
    font-size: 18px;
    color: #ffffff;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .top_header .secondary-nav .p-link .icomoon1 {
    font-size: 18px;
    color: #ffffff;
  }
}

header .top_header .secondary-nav .search-header {
  height: auto;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .top_header .secondary-nav .search-header {
    margin-left: 40px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .top_header .secondary-nav .search-header {
    margin-left: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .top_header .secondary-nav .search-header {
    margin-left: 60px;
    margin-top: 10px;
  }
}

header .top_header .secondary-nav .search-header .form-control {
  width: 100%;
  padding-right: 20px;
}

header .top_header .secondary-nav .search-header .icomoon {
  color: #969696;
}

header .top_header .secondary-nav .search-header .submit-btn-search {
  text-indent: 0;
  background: none;
  border: none;
  position: absolute;
  right: 5px;
  top: 3px;
  padding: 5px;
}

header .top_header .secondary-nav .right-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .top_header .secondary-nav .right-links {
    padding-left: 0;
  }
}

header .top_header .secondary-nav .right-links .icon-tracking {
  font-size: 38px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .top_header .secondary-nav .right-links .icon-tracking {
    font-size: 33px;
  }
}

header .top_header .secondary-nav .right-links .cart-value .value {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffc600;
  color: #000000;
  font-size: 13px;
  top: -12px;
  right: 0px;
  text-align: center;
  display: inline-block;
  padding: 3px;
  line-height: 16px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .top_header .secondary-nav .right-links .cart-value .value {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .top_header .secondary-nav .right-links .cart-value .value {
    display: none;
  }
}

header .main-nav {
  padding: 5px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .main-nav .navbar-collapse {
    position: absolute;
    top: -15px;
    right: 105%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    overflow-y: auto;
    height: 550px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    background: #ffffff;
    box-shadow: 0 0 3px #969696;
    -moz-box-shadow: 0 0 3px #969696;
    -webkit-box-shadow: 0 0 3px #969696;
    -ms-box-shadow: 0 0 3px #969696;
    -o-box-shadow: 0 0 3px #969696;
  }
  header .main-nav .navbar-collapse.collapsing {
    height: auto !important;
    margin-right: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
  }
  header .main-nav .navbar-collapse.show {
    right: 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .main-nav .navbar-collapse {
    position: absolute;
    top: -15px;
    right: 107%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    overflow-y: auto;
    height: 350px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    background: #ffffff;
    box-shadow: 0 0 3px #969696;
    -moz-box-shadow: 0 0 3px #969696;
    -webkit-box-shadow: 0 0 3px #969696;
    -ms-box-shadow: 0 0 3px #969696;
    -o-box-shadow: 0 0 3px #969696;
  }
  header .main-nav .navbar-collapse.collapsing {
    height: auto !important;
    margin-right: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
  }
  header .main-nav .navbar-collapse.show {
    right: 0;
  }
}

header .main-nav .main-navbar {
  background: #aa0400;
  color: #ffffff;
  margin-top: 10px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .main-nav .main-navbar {
    background: none;
  }
  header .main-nav .main-navbar .navbar-toggler {
    position: relative;
    border: 1px solid #ffffff;
    color: #ffffff;
    top: -64px;
    left: -8px;
  }
  header .main-nav .main-navbar .navbar-collapse.show {
    z-index: 99;
    box-shadow: 0 0 3px #969696;
    -moz-box-shadow: 0 0 3px #969696;
    -webkit-box-shadow: 0 0 3px #969696;
    -ms-box-shadow: 0 0 3px #969696;
    -o-box-shadow: 0 0 3px #969696;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .main-nav .main-navbar {
    background: none;
  }
  header .main-nav .main-navbar .navbar-toggler {
    position: relative;
    border: 1px solid #ffffff;
    color: #ffffff;
    top: -64px;
    left: -8px;
  }
  header .main-nav .main-navbar .navbar-collapse.show {
    z-index: 99;
    box-shadow: 0 0 3px #969696;
    -moz-box-shadow: 0 0 3px #969696;
    -webkit-box-shadow: 0 0 3px #969696;
    -ms-box-shadow: 0 0 3px #969696;
    -o-box-shadow: 0 0 3px #969696;
    top: -50px;
    position: relative;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .main-nav .main-navbar {
    background: none;
  }
  header .main-nav .main-navbar .navbar-toggler {
    position: relative;
    border: 1px solid #aa0400;
    color: #aa0400;
    top: -54px;
    left: -8px;
  }
  header .main-nav .main-navbar .navbar-collapse.show {
    z-index: 99;
    box-shadow: 0 0 3px #969696;
    -moz-box-shadow: 0 0 3px #969696;
    -webkit-box-shadow: 0 0 3px #969696;
    -ms-box-shadow: 0 0 3px #969696;
    -o-box-shadow: 0 0 3px #969696;
    top: -50px;
    position: relative;
  }
}

header .main-nav .main-navbar .navbar {
  padding: 5px 0;
}

header .main-nav .main-navbar .nav-item .nav-link {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .main-nav .main-navbar .nav-item .nav-link {
    color: #000000;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .main-nav .main-navbar .nav-item .nav-link {
    color: #000000;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .main-nav .main-navbar .nav-item .nav-link {
    color: #000000;
  }
}

header .main-nav .main-navbar .nav-item .nav-link:hover {
  background: #ffffff;
  border-radius: 20px;
  color: #aa0400;
}

header .main-nav .main-navbar .primary-navbar {
  color: #ffffff;
  width: 100%;
}

@media (min-width: 576px) and (max-width: 767px) {
  header .main-nav .main-navbar .primary-navbar {
    padding: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .main-nav .main-navbar .primary-navbar {
    padding: 15px;
  }
}

header .main-nav .main-navbar .primary-navbar .dropdown-menu {
  border-radius: 0;
  top: 35px;
  box-shadow: 0 0 3px #969696;
  -moz-box-shadow: 0 0 3px #969696;
  -webkit-box-shadow: 0 0 3px #969696;
  -ms-box-shadow: 0 0 3px #969696;
  -o-box-shadow: 0 0 3px #969696;
}

header .main-nav .main-navbar .primary-navbar .dropdown-menu a {
  padding: 10px;
  font-size: 14px;
}

header .main-nav .main-navbar .primary-navbar .dropdown-menu a:hover {
  background: #aa0400;
  color: #ffffff;
}

header .main-nav .main-navbar .righttop-nav {
  margin-right: -24px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .main-nav .main-navbar .righttop-nav {
    margin-right: 0;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    margin-top: 20px;
  }
}

header .main-nav .main-navbar .righttop-nav .nav-link {
  background: #ffffff;
  color: #aa0400;
  text-align: center;
  margin-left: 2px;
  border: 1px solid transparent;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .main-nav .main-navbar .righttop-nav .nav-link {
    border-color: #aa0400;
  }
}

header .main-nav .main-navbar .righttop-nav .nav-link:hover {
  background: #aa0400;
  border: 1px solid #ffffff;
  color: #ffffff;
}

header .special-nav {
  background: #f4f8fb;
  font-size: 14px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .special-nav {
    margin-top: -56px;
    position: relative;
    padding: 5px 0;
  }
  header .special-nav .navbar-collapse {
    top: 42px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .special-nav {
    margin-top: -56px;
    position: relative;
    padding: 5px 0;
  }
  header .special-nav .navbar-collapse {
    top: 42px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .special-nav {
    margin-top: -56px;
    position: relative;
    padding: 5px 0;
  }
  header .special-nav .navbar-collapse {
    top: 42px;
  }
}

header .special-nav .navbar-brand {
  font-size: 15px;
}

header .special-nav .navbar {
  padding: 0;
}

header .special-nav .navbar .nav-link {
  color: #000000;
  opacity: 1;
}

header .special-rightnav {
  padding-right: 0;
}

main {
  min-height: 800px;
  padding-top: 205px;
}

@media (min-width: 320px) and (max-width: 575px) {
  main {
    padding-top: 145px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  main {
    padding-top: 140px;
  }
}

.categories {
  padding: 15px 0;
}

.categories .category-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 320px) and (max-width: 575px) {
  .categories .category-items {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .categories .category-items {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .categories .category-items {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .categories {
    padding: 0;
    overflow-x: auto;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .categories {
    padding: 0;
    overflow-x: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .categories {
    padding: 0;
    overflow-x: auto;
  }
}

.categories .cat-col {
  text-align: center;
  margin: 0 25px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .categories .cat-col {
    margin: 0 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .categories .cat-col {
    margin: 0 6px;
  }
}

.categories .cat-col .icon {
  width: 115px;
  height: 115px;
  box-shadow: 0 3px 3px #969696;
  -moz-box-shadow: 0 3px 3px #969696;
  -webkit-box-shadow: 0 3px 3px #969696;
  -ms-box-shadow: 0 3px 3px #969696;
  -o-box-shadow: 0 3px 3px #969696;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 140px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 320px) and (max-width: 575px) {
  .categories .cat-col .icon {
    width: 85px;
    height: 85px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .categories .cat-col .icon {
    width: 85px;
    height: 85px;
  }
}

.categories .cat-col .icon:hover {
  background: #aa0400;
}

.categories .cat-col .icon:hover .icomoon {
  color: #ffffff;
}

.categories .cat-col .icon .icomoon {
  font-size: 50px;
  color: #aa0400;
}

@media (min-width: 320px) and (max-width: 575px) {
  .categories .cat-col .icon .icomoon {
    font-size: 45px;
  }
}

.categories .cat-col a {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@media (min-width: 320px) and (max-width: 575px) {
  .categories .cat-col a {
    font-size: 13px;
  }
}

.categories .cat-col a:hover {
  color: #aa0400;
}

.slider-home .carousel {
  box-shadow: 0 3px 3px #969696;
  -moz-box-shadow: 0 3px 3px #969696;
  -webkit-box-shadow: 0 3px 3px #969696;
  -ms-box-shadow: 0 3px 3px #969696;
  -o-box-shadow: 0 3px 3px #969696;
}

.slider-home .carousel .carousel-control-next,
.slider-home .carousel .carousel-control-prev {
  width: 50px;
  height: 50px;
  background: #aa0400;
  border-radius: 50%;
  top: 42%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .slider-home .mob-rtslider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5px;
  }
  .slider-home .mob-rtslider a {
    padding: 0 3px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .slider-home .mob-rtslider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5px;
  }
  .slider-home .mob-rtslider a {
    padding: 0 3px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider-home .mob-rtslider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5px;
  }
  .slider-home .mob-rtslider a {
    padding: 0 3px;
  }
}

.slider-home .rtslider:hover {
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
}

.slider-home .rtslider img {
  margin-bottom: 5px;
  box-shadow: 0 3px 3px #969696;
  -moz-box-shadow: 0 3px 3px #969696;
  -webkit-box-shadow: 0 3px 3px #969696;
  -ms-box-shadow: 0 3px 3px #969696;
  -o-box-shadow: 0 3px 3px #969696;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.splcol {
  background: #e3e3e3;
  padding: 5px;
  width: 100%;
  box-shadow: 0 3px 3px #969696;
  -moz-box-shadow: 0 3px 3px #969696;
  -webkit-box-shadow: 0 3px 3px #969696;
  -ms-box-shadow: 0 3px 3px #969696;
  -o-box-shadow: 0 3px 3px #969696;
}

.splcol .figure {
  width: 50%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .splcol .figure {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.splcol .figure img {
  width: 100%;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

@media (min-width: 320px) and (max-width: 575px) {
  .splcol .figure img {
    height: 270px;
  }
}

.splcol article {
  width: 50%;
  background: #ffffff;
  padding: 60px 0;
}

.home-products {
  padding: 20px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-products .col-lg-3 {
    width: 50%;
  }
}

.title-cat {
  position: relative;
  margin: 15px 0;
}

.title-cat:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #d6d6d6;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: -1;
}

.title-cat .h4 {
  font-size: 20px;
  background: #ffffff;
  padding: 6px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .title-cat .h4 {
    font-size: 16px;
  }
}

.product-col {
  background: #f4f8fb;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  margin-bottom: 15px;
  border: 1px solid #eee;
}

.product-col:hover {
  box-shadow: 0 3px 3px #969696;
  -moz-box-shadow: 0 3px 3px #969696;
  -webkit-box-shadow: 0 3px 3px #969696;
  -ms-box-shadow: 0 3px 3px #969696;
  -o-box-shadow: 0 3px 3px #969696;
}

.product-col:hover figure img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.product-col figure {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
}

.product-col figure img {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.product-col figure .badge {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 0;
}

.product-col article {
  padding: 10px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .product-col article h5 {
    line-height: 20px;
  }
}

.product-col article h5 a {
  font-size: 17px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .product-col article h5 a {
    font-size: 13px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .product-col article h5 a {
    font-size: 14px;
  }
}

.product-col article h5 a:hover {
  color: #aa0400;
}

@media (min-width: 320px) and (max-width: 575px) {
  .del-info {
    width: 100%;
    display: block !important;
  }
  .del-info p {
    width: 100%;
    text-align: left;
  }
}

.price {
  padding: 10px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .price {
    padding: 0;
  }
}

.price .icon-inr {
  padding-top: 2px;
  position: relative;
  top: 2px;
}

.price .offer-price {
  font-size: 13px;
  color: #969696;
  text-decoration: line-through;
  padding: 0 5px;
}

.price .offer-price .icon-inr {
  top: 1px;
}

.home-about p {
  text-align: justify;
  padding-bottom: 28px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home-about .highlet-col {
    padding: 10px 0;
    border-bottom: 1px solid #c9c9c9;
  }
}

.home-about .highlet-col .icomoon {
  font-size: 60px;
  color: #aa0400;
}

.home-about .highlet-col .h5 {
  padding-top: 20px;
}

footer {
  background: #f4f8fb;
  padding: 25px 0 0 0;
  margin: 25px 0 0 0;
}

footer .footer-list {
  padding-bottom: 15px;
}

@media (min-width: 320px) and (max-width: 575px) {
  footer .footer-list {
    border-bottom: 1px solid #969696;
    margin-bottom: 10px;
  }
}

footer .footer-list .h6 {
  padding-right: 10px;
}

footer .footer-list a {
  display: inline-block;
  font-size: 14px;
}

footer .footer-list a:after {
  content: "|";
  padding: 0 10px;
}

@media (min-width: 320px) and (max-width: 575px) {
  footer .footer-list a:after {
    content: '';
  }
}

footer .footer-list a:last-child:after {
  content: '';
  padding: 0;
}

footer .footer-list a:hover {
  color: #aa0400;
}

footer .subscribe-section {
  padding: 20px 0;
  background: #ffffff;
}

@media (min-width: 320px) and (max-width: 575px) {
  footer .subscribe-section {
    text-align: center;
  }
  footer .subscribe-section .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 15px;
  }
  footer .subscribe-section .col-lg-6 .h6 {
    text-align: center !important;
    font-size: 15px;
  }
}

footer .subscribe-section .footersocial .nav-link {
  padding: 0 5px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

footer .subscribe-section .footersocial .nav-link:hover img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

footer .subscribe-section .footersocial .nav-link img {
  width: 36px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

footer .subscribe-section .subscribe-footer .input-group {
  width: 75%;
}

footer .subscribe-section .subscribe-footer .input-group input[type="text"] {
  border: 1px solid #969696;
  border-radius: 0;
  width: 100%;
  padding-left: 10px;
}

footer .subscribe-section .subscribe-footer .btn-sub {
  border: none;
  border-radius: 0 !important;
  padding-right: 25px !important;
}

footer .subscribe-section .subscribe-footer .btn-sub:hover {
  padding-right: 25px !important;
}

footer .bottom-footer {
  padding: 15px 0;
}

footer .bottom-footer p {
  padding: 0;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  footer .bottom-footer p {
    text-align: center;
    padding-top: 10px;
  }
}

.custom-modal {
  border-radius: 0;
}

.custom-modal .modal-header {
  background: #aa0400;
  color: #ffffff !important;
  border-radius: 0;
}

.custom-modal .modal-header .close {
  opacity: 1;
}

.custom-modal .modal-header .close:focus {
  outline: none;
}

.custom-modal .modal-header .close .icomoon {
  font-size: 19px;
  color: #ffffff;
  opacity: 1;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.city-modal form .icomoon {
  top: 12px;
  right: 10px;
  color: #969696;
}

.city-modal input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  padding-right: 25px;
}

.modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}

.ui-autocomplete-input {
  position: relative;
}

.ui-autocomplete {
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 1051 !important;
  float: left;
  display: none;
  min-width: 160px;
  width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  text-decoration: none;
}

.ui-state-hover,
.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

.cities-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 20px;
}

.cities-list ul li {
  width: 48%;
}

.cities-list ul li a {
  display: block;
  padding: 10px;
  border: 1px solid #d6d6d6;
  margin-left: -1px;
  margin-top: -1px;
}

.cities-list ul li a:hover {
  background: #aa0400;
  color: #ffffff;
}

.movetop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 3px 3px #969696;
  -moz-box-shadow: 0 3px 3px #969696;
  -webkit-box-shadow: 0 3px 3px #969696;
  -ms-box-shadow: 0 3px 3px #969696;
  -o-box-shadow: 0 3px 3px #969696;
  position: fixed;
  right: 10px;
  bottom: 85px;
  display: none;
  text-align: center;
  line-height: 50px;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  background: #ffffff;
  z-index: 999;
}

.movetop:hover {
  background: #aa0400;
}

.movetop:hover .icomoon {
  color: #ffffff;
}

.movetop .icomoon {
  font-size: 20px;
}

.sub-header {
  box-shadow: 0 3px 3px #969696;
  -moz-box-shadow: 0 3px 3px #969696;
  -webkit-box-shadow: 0 3px 3px #969696;
  -ms-box-shadow: 0 3px 3px #969696;
  -o-box-shadow: 0 3px 3px #969696;
  padding: 15px 0;
}

.sub-header .form-group {
  margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .sub-header .h5 {
    text-align: center;
    font-size: 17px;
  }
  .sub-header .sortby .form-control {
    width: 100%;
    margin: 10px 0;
  }
}

.showing:after {
  content: "|";
  padding: 0 15px;
}

.subpage-body {
  padding-top: 20px;
}

.subpage-body p {
  font-size: 15px;
  line-height: 25px;
  padding-bottom: 10px;
  text-align: justify;
}

.sortby .form-control {
  width: 200px;
  margin-left: auto;
}

.header-brcrumb {
  background: none;
  float: right;
  margin-bottom: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .header-brcrumb {
    float: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-bottom: 15px;
  }
}

.header-brcrumb li {
  float: left;
}

@media (min-width: 320px) and (max-width: 575px) {
  .header-brcrumb li {
    float: none;
    display: inline-block;
  }
}

.header-brcrumb li a {
  font-size: 13px;
}

.header-brcrumb li a:after {
  font-family: 'icomoon' !important;
  content: "\f054";
  padding: 0 10px;
  font-size: 10px;
  position: relative;
  top: 1px;
}

.header-brcrumb li a:hover {
  color: #aa0400;
}

.header-brcrumb li:last-child a {
  color: #969696;
}

.header-brcrumb li:last-child a:after {
  content: '';
  padding: 0;
}

.product-detail-slider {
  box-shadow: 0 3px 3px #969696;
  -moz-box-shadow: 0 3px 3px #969696;
  -webkit-box-shadow: 0 3px 3px #969696;
  -ms-box-shadow: 0 3px 3px #969696;
  -o-box-shadow: 0 3px 3px #969696;
}

.product-detail-slider .thumbs {
  bottom: -16px;
  display: none;
}

@media (min-width: 320px) and (max-width: 575px) {
  .product-detail-slider .thumbs {
    bottom: -94px;
  }
}

.product-detail-slider .thumbs li {
  text-indent: 0;
  width: 75px;
  height: 74px;
  opacity: 1;
  margin: 0;
  border: 1px solid #ffffff;
}

.product-detail-slider .thumbs li img {
  width: 75px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .product-detail-slider .thumbs li img {
    width: 65px;
  }
}

.product-detail-slider .thumbs .active {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.product-detail-slider .badge {
  position: absolute;
  border-radius: 0;
  right: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .product-desc {
    padding-top: 100px;
  }
  .product-desc .h3 {
    font-size: 23px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .product-desc {
    padding-top: 20px;
  }
  .product-desc .h3 {
    font-size: 23px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .product-desc {
    padding-top: 20px;
  }
  .product-desc .h3 {
    font-size: 23px;
  }
}

.product-desc .price .price-in:first-child h6:after {
  content: "|";
  padding: 0 15px;
}

.product-desc .delivery-info {
  margin-top: 25px;
}

.product-desc .delivery-info .form-control {
  font-size: 14px;
  height: 40px;
}

.date-input .icomoon {
  top: 11px;
  right: 10px;
  color: #969696;
  z-index: 999;
}

.table-pro {
  margin-top: 10px;
}

.table-pro tr td {
  padding: 10px;
}

.parentHorizontalTab {
  padding-top: 25px;
}

.parentHorizontalTab p {
  padding-bottom: 15px;
}

.related-products {
  padding-top: 25px;
}

.cartlist-header {
  background: #aa0400;
  padding: 10px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .cartlist-header {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .cartlist-header {
    display: none;
  }
}

.cartlist-header span {
  color: #ffffff;
}

.cartlist {
  box-shadow: 0 3px 3px #969696;
  -moz-box-shadow: 0 3px 3px #969696;
  -webkit-box-shadow: 0 3px 3px #969696;
  -ms-box-shadow: 0 3px 3px #969696;
  -o-box-shadow: 0 3px 3px #969696;
  padding: 5px;
  margin-bottom: 15px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .cartlist .h5 a {
    font-size: 15px;
  }
  .cartlist p {
    text-align: left;
  }
}

.edit-icon {
  top: 2px;
  left: 5px;
}

.change-dttime {
  position: relative;
  margin-top: 25px;
}

.cust-close {
  top: 0;
  right: 10px;
  background: #aa0400;
  cursor: pointer;
  display: block;
  width: 25px;
  height: 25px;
  line-height: 27px;
  text-align: center;
  z-index: 99;
}

.cust-close .icomoon {
  color: #ffffff;
}

.addons {
  height: 600px;
  overflow-y: auto;
}

.addons .product-col h5 a {
  font-size: 15px;
}

.custom-accordion .accord-content {
  padding: 0 15px;
  border: 1px solid #969696;
}

.custom-accordion h3 {
  font-size: 15px;
  padding: 10px;
  border: 1px solid #969696;
  text-transform: uppercase;
  cursor: pointer;
}

.custom-accordion h3 .number {
  background: #aa0400;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: #ffffff;
  display: inline-block;
  margin-right: 10px;
}

.custom-accordion h3:hover {
  background: #aa0400;
  color: #ffffff;
}

.custom-accordion h3:hover .number {
  background: #ffffff;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: #ffffff;
  display: inline-block;
  color: #aa0400;
}

.custom-accordion .collapse-active {
  background: #aa0400;
  color: #ffffff;
}

.custom-accordion .collapse-active .number {
  background: #ffffff;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: #ffffff;
  display: inline-block;
  color: #aa0400;
}

.checkout-revieworder {
  padding: 15px;
}

.checkout-right {
  box-shadow: 0 3px 3px #969696;
  -moz-box-shadow: 0 3px 3px #969696;
  -webkit-box-shadow: 0 3px 3px #969696;
  -ms-box-shadow: 0 3px 3px #969696;
  -o-box-shadow: 0 3px 3px #969696;
  padding: 10px;
}

.shield-div .h1 {
  font-size: 60px;
  color: #969696;
}

@media (min-width: 320px) and (max-width: 575px) {
  .signmain {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
}

.signmain .sign-section {
  width: 400px;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  box-shadow: 0 0 3px #969696;
  -moz-box-shadow: 0 0 3px #969696;
  -webkit-box-shadow: 0 0 3px #969696;
  -ms-box-shadow: 0 0 3px #969696;
  -o-box-shadow: 0 0 3px #969696;
  min-height: 150px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .signmain .sign-section {
    width: 300px;
    padding: 20px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .stores .col-lg-3 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
  }
}

.stores .h6 {
  color: #aa0400;
}

.list-item li {
  position: relative;
  padding-left: 25px;
  padding-bottom: 10px;
  text-align: justify;
}

.list-item li:before {
  content: '';
  width: 10px;
  height: 10px;
  background: #aa0400;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  left: 5px;
  top: 5px;
}

.rating-col .card-header select.form-control option {
  padding: 10px 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .rating-col .card-body {
    padding-left: 0;
  }
}

.rating-col .review-item {
  box-shadow: 0 0 3px #969696;
  -moz-box-shadow: 0 0 3px #969696;
  -webkit-box-shadow: 0 0 3px #969696;
  -ms-box-shadow: 0 0 3px #969696;
  -o-box-shadow: 0 0 3px #969696;
  margin: 15px;
  padding: 20px 0;
}

.rating-col .review-item include mob p {
  text-align: left;
}

@media (min-width: 320px) and (max-width: 575px) {
  .rating-col .review-item {
    width: 100%;
    display: block !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .rating-col .review-item {
    width: 100%;
    display: block !important;
  }
}

.rating-col .review-item .item-left {
  width: 12%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .rating-col .review-item .item-left {
    width: 100%;
    text-align: left !important;
    padding: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .rating-col .review-item .item-left {
    width: 100%;
    text-align: left !important;
    padding: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .rating-col .review-item .item-left {
    width: 20%;
    text-align: left !important;
    padding: 15px;
  }
}

.rating-col .review-item .item-left .name-ltr {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 56px;
  font-size: 30px;
  display: inline-block;
  color: #ffffff;
}

.rating-col .review-item .item-right {
  width: 75%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 320px) and (max-width: 575px) {
  .rating-col .review-item .item-right {
    width: 100%;
    padding: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .rating-col .review-item .item-right {
    width: 100%;
    padding: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .rating-col .review-item .item-right {
    width: 80%;
    padding: 15px;
  }
}

.rating-col .review-item .item-right .h5 {
  font-size: 17px;
  margin-bottom: 0;
}

.rating-col .review-item .item-right p {
  font-size: 14px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .rating-col .review-item .item-right p {
    text-align: left;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .rating-col .review-item .item-right p {
    text-align: left;
  }
}

.rating-col .review-item .item-right .rating .icomoon {
  font-size: 16px;
  color: #0b91d7;
}

.rating-col .review-item .item-right .rating .norate {
  font-size: 16px;
  color: #000000;
}

.rating-col .review-item .last {
  width: 10%;
  padding-right: 20px;
  font-style: italic;
}

@media (min-width: 320px) and (max-width: 575px) {
  .rating-col .review-item .last {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .rating-col .review-item .last {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .rating-col .review-item .last {
    width: 20%;
  }
}

.a {
  background: #bada55;
}

.b {
  background: #7fe5f0;
}

.c {
  background: #ff0000;
}

.d {
  background: #ff80ed;
}

.e {
  background: #696969;
}

.f {
  background: #133337;
}

.g {
  background: #065535;
}

.h {
  background: #c0c0c0;
}

.i {
  background: #5ac18e;
}

.j {
  background: #666666;
}

.k {
  background: #dcedc1;
}

.l {
  background: #f7347a;
}

.m {
  background: #000000;
}

.n {
  background: #ffc0cb;
}

.o {
  background: #420420;
}

.p {
  background: #008080;
}

.q {
  background: #ffd700;
}

.r {
  background: #ff7373;
}

.s {
  background: #ffa500;
}

.t {
  background: #40e0d0;
}

.u {
  background: #b0e0e6;
}

.v {
  background: #0000ff;
}

.w {
  background: #003366;
}

.x {
  background: #fa8072;
}

.y {
  background: #800000;
}

.z {
  background: #800080;
}

.contact-rt {
  background: #f4f8fb;
  padding: 20px;
  box-shadow: 0 0 3px #969696;
  -moz-box-shadow: 0 0 3px #969696;
  -webkit-box-shadow: 0 0 3px #969696;
  -ms-box-shadow: 0 0 3px #969696;
  -o-box-shadow: 0 0 3px #969696;
}

@media (min-width: 320px) and (max-width: 575px) {
  .contact-rt {
    margin-top: 20px;
  }
}

.card {
  border-radius: 0;
}

.card .card-header {
  background: #f4f8fb;
  border-radius: 0;
}

.card .card-footer {
  background: none;
}

.faq-right {
  background: #ffffff;
  box-shadow: 0 0 3px #969696;
  -moz-box-shadow: 0 0 3px #969696;
  -webkit-box-shadow: 0 0 3px #969696;
  -ms-box-shadow: 0 0 3px #969696;
  -o-box-shadow: 0 0 3px #969696;
}

@media (min-width: 320px) and (max-width: 575px) {
  .faq-right {
    margin-top: 25px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .faq-right {
    margin-top: 25px;
  }
}

.faq-contact {
  border-bottom: 1px solid #969696;
  padding: 20px;
}

.faq-contact .icon {
  font-size: 25px;
  color: #aa0400;
  padding-right: 25px;
}

.faq-contact p {
  text-align: left;
}

.accordion h3 {
  background: none;
  border-radius: 0;
}

.accordion .ui-state-active {
  background: #aa0400;
  border: 1px solid #aa0400;
}

.accordion .ui-icon {
  display: none;
}

.coupons img {
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-bottom: 15px;
}

.shadow-center {
  box-shadow: 0 0 3px #969696;
  -moz-box-shadow: 0 0 3px #969696;
  -webkit-box-shadow: 0 0 3px #969696;
  -ms-box-shadow: 0 0 3px #969696;
  -o-box-shadow: 0 0 3px #969696;
}

.user-intro img {
  height: 50px;
  margin-right: 15px;
}

.user-intro .icomoon {
  display: none;
}

@media (min-width: 320px) and (max-width: 575px) {
  .user-intro .icomoon {
    display: inline-block;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .user-intro .icomoon {
    display: inline-block;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .user-nav {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .user-nav {
    display: none;
  }
}

.user-nav ul li a {
  font-size: 15px;
  padding: 15px;
  border-bottom: 1px solid #e3e3e3;
  display: block;
}

.user-nav ul li a:hover {
  background: #aa0400;
  color: #ffffff;
}

.user-nav ul li .active-nav {
  background: #aa0400;
  color: #ffffff;
}

.user-right {
  min-height: 500px;
}

@media (min-width: 576px) and (max-width: 767px) {
  .user-right {
    min-height: 250px;
  }
}

.user-address {
  padding: 15px;
  border: 1px solid #d6d6d6;
  min-height: 15px;
  margin-bottom: 10px;
}

.user-address p {
  text-align: left;
}

.track-footer {
  font-size: 14px !important;
}

.order-user {
  margin-bottom: 15px;
}

.order-detailrow {
  box-shadow: 0 0 3px #969696;
  -moz-box-shadow: 0 0 3px #969696;
  -webkit-box-shadow: 0 0 3px #969696;
  -ms-box-shadow: 0 0 3px #969696;
  -o-box-shadow: 0 0 3px #969696;
  margin-bottom: 15px;
}

.order-detailin {
  padding: 15px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .order-detailin {
    display: block !important;
  }
  .order-detailin .card {
    width: 100%;
  }
  .order-detailin .h6 {
    padding-top: 15px;
    width: 100% !important;
    display: block !important;
    font-size: 15px;
  }
  .order-detailin .h6 span {
    width: 100%;
    display: block;
    padding: 5px 0;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .trackingp {
    padding-left: 20px;
    padding-top: 180px !important;
  }
}

ol.progtrckr {
  margin: 0;
  padding: 0;
  width: 100%;
}

ol.progtrckr li {
  text-align: center;
  line-height: 5em;
  width: 25%;
  float: left;
}

@media (min-width: 320px) and (max-width: 575px) {
  ol.progtrckr li {
    width: 50%;
  }
}

ol.progtrckr li:before {
  position: relative;
  bottom: -3.8em;
  float: left;
  left: 50%;
  line-height: 1em;
  margin-left: -1.1em;
}

ol.progtrckr li .trackname {
  margin-left: -1.1em;
}

ol.progtrckr .progtrckr-done {
  color: black;
  border-bottom: 4px solid yellowgreen;
}

ol.progtrckr .progtrckr-done:before {
  content: "\f00c";
  color: white;
  background-color: yellowgreen;
  height: 2.2em;
  width: 2.2em;
  line-height: 2.2em;
  border: none;
  border-radius: 50%;
  font-family: 'icomoon' !important;
}

ol.progtrckr .progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
}

ol.progtrckr .progtrckr-todo:before {
  content: "";
  background-color: white;
  height: 2.2em;
  width: 2.2em;
  border: 1px solid #969696;
  border-radius: 50%;
}

ol.progtrckr[data-progtrckr-steps="2"] li {
  width: 50%;
}

ol.progtrckr[data-progtrckr-steps="3"] li {
  width: 75%;
}

ol.progtrckr[data-progtrckr-steps="4"] li {
  width: 100%;
}

/**
ol.progtrckr[data-progtrckr-steps="5"] li {
    width: 19%;
}

ol.progtrckr[data-progtrckr-steps="6"] li {
    width: 16%;
}

ol.progtrckr[data-progtrckr-steps="7"] li {
    width: 14%;
}

ol.progtrckr[data-progtrckr-steps="8"] li {
    width: 12%;
}

ol.progtrckr[data-progtrckr-steps="9"] li {
    width: 11%;
}
**/
.trackingp {
  padding-top: 100px;
}

.rating {
  margin-top: -20px;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
    follow these rules. Every browser that supports :checked also supports :not(), so
    it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 0.9em;
  /* padding:0 .1em; */
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 300%;
  /* line-height:1.2; */
  color: #ddd;
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: dodgerblue;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: dodgerblue;
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: dodgerblue;
}

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.nobg {
  background: none !important;
}

.nobrd {
  border: none !important;
}

.nobrd:focus {
  border: none !important;
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.cart-drop {
  min-width: 200px;
  text-align: center;
  padding: 20px;
}

.online-col {
  margin-bottom: 15px;
}

.online-col img {
  height: 300px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  border-bottom: 1px solid #c9c9c9;
}

@media (min-width: 320px) and (max-width: 575px) {
  .online-col img {
    height: 150px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .online-col img {
    height: 210px;
  }
}

.online-col .card-body {
  padding: 15px;
  height: 70px;
}

.online-col .card-body .h5 {
  text-align: center;
  line-height: 21px;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 575px) {
  .online-col .card-body .h5 {
    line-height: 16px;
  }
}

.online-col .card-body .h5 a {
  font-size: 16px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .online-col .card-body .h5 a {
    font-size: 12px;
  }
}

.online-col .card-body .h5 a:hover {
  color: #aa0400;
}

.notification-item {
  padding: 7px;
}

.notification-item:hover .link-notification {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
  margin-right: 0;
  opacity: 1;
}

.notification-item figure {
  width: 80px;
  margin-bottom: 0;
}

.notification-item figure img {
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  width: 80px;
}

.notification-item div {
  padding: 0 12px;
  position: relative;
}

.notification-item div p {
  padding-bottom: 0;
  font-size: 14px;
  line-height: 23px;
}

.notification-item div .link-notification {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 14px;
  margin-right: -20px;
  opacity: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.notification-item div .link-notification .icomoon {
  position: relative;
  top: 3px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .h2 {
    font-size: 1.5em;
  }
  .main-nav .dropdown-toggle {
    position: relative;
    padding-left: 15px;
  }
  .main-nav .dropdown-toggle:before {
    content: "\f0d7";
    font-size: 13px;
    font-family: 'icomoon' !important;
    position: absolute;
    left: 0;
    top: 10px;
  }
  .productsrow .col-lg-3 {
    width: 50%;
    padding: 0 8px;
  }
  .productsrow .col-lg-3 .del-info p {
    text-align: left;
    font-size: 12px;
    padding-bottom: 0;
  }
  .adresscolumn {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #969696;
  }
  .adresscolumn:last-child {
    border: none;
  }
  .mtext-center {
    text-align: center;
  }
  .mpb20 {
    padding-bottom: 20px;
  }
  .success-order .mlink, .success-order footer .subscribe-section .subscribe-footer .btn-sub, footer .subscribe-section .subscribe-footer .success-order .btn-sub {
    margin-bottom: 10px;
    width: 100%;
  }
  h2.resp-accordion {
    padding: 20px 15px !important;
  }
  h2.resp-tab-active {
    padding: 20px 15px !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main-nav .dropdown-toggle {
    position: relative;
    padding-left: 15px;
  }
  .main-nav .dropdown-toggle:before {
    content: "\f0d7";
    font-size: 13px;
    font-family: 'icomoon' !important;
    position: absolute;
    left: 0;
    top: 10px;
  }
  .mtext-center {
    text-align: center;
  }
  .mpb20 {
    padding-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */