@import 'variables';
@import 'mixins';

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900&display=swap&subset=latin-ext');
// @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

body {
    @include sitefont;

    .dropdown-toggle::after {
        display: none;
    }

    ul,
    li {
        list-style: none;
        padding: 0;
    }

    p {
        margin-bottom: 0;
    }

    .fred {
        color: $pcolor;
    }

    .fgreen {
        color: $green;
    }

    .fgray {
        color: $gray;
    }

    .fblue {
        color: $blue;
    }

    small,
    .small {
        font-size: $fsize - 3;
    }

    .fbold {
        font-weight: 600;
    }

    .flight {
        font-weight: 300;
    }

    a {
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }

    .veg {
        padding: 2px;
        border: 1px solid $green;
        background: $white;

        .icomoon {
            color: $green;
            font-size: $fsize - 1;
        }
    }

    .no-shadow {
        box-shadow: none;
    }

    .nv {
        padding: 2px;
        border: 1px solid $red;
        background: $white;

        .icomoon {
            color: $red;
            font-size: $fsize - 1;
        }
    }

    .mbadge {
        position: absolute;
        top: 5px;
        left: 4px;
        font-size: $fsize - 3;
        color: $white;
        padding: 3px;
        text-transform: uppercase;
    }

    .blue-badge {
        background: $blue;
    }

    .green-badge {
        background: $green;
    }

    .red-badge {
        background: $red;
    }

    .whitespan {
        background: $white;
        padding: 2px 10px;
        color: $pcolor;
    }

    .border_radius {
        border-radius: 40px;
        min-width: 100px;
        padding: 5px 15px;
    }

    .form-control {
        border-radius: 0;
        font-size: $fsize - 1;
        min-height: 40px;
    }

    .mlink {
        background: $pcolor;
        color: $white;
        padding: 8px 40px 8px 25px;
        border-radius: 25px;
        @include transition;
        text-align: center;
        height: 35px;
        display: inline-flex;
        line-height: 20px;
        justify-content: center;
        text-transform: uppercase;
        font-size: $fsize - 2;
        @extend .fbold;

        @include mob {
            padding: 8px 25px 8px 15px;
            font-size: $fsize - 4;
        }

        .icomoon {
            margin-left: -25px;
            opacity: 0;
            @include transition;
            position: relative;
            top: 4px;
        }


        &:hover {
            padding: 8px 25px 8px 25px !important;
            color: $white !important;

            .icomoon {
                margin-left: 5px;
                opacity: 1;
                color: $white !important;
            }
        }
    }

    button.mlink {
        border: none;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .inputlink {
        border: none;
        padding-right: 20px;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .brd-link {
        padding: 8px 16px;
        border: 1px solid lighten($gray, 25%);
        display: inline-block;
        @include transition;
        height: 40px;
        font-size: $fsize - 1;
        line-height: 22px;

        &:hover {
            background: $pcolor;
            color: $white;
            border: 1px solid $pcolor;
        }
    }

    .lblue-bg {
        background: $lightblue;
        padding: 25px 0;
    }

    input,
    .form-control {
        &:focus {
            box-shadow: none !important;
            border: 1px solid $pcolor !important;
            outline: none;
        }
    }
}

.fixed-theme {
    @include shadow-bot;

    .top_header {
        margin-top: -117px;

        @include mob {
            margin-top: -42px;
        }

        @include mscape {
            margin-top: -42px;
        }

        @include tab {
            margin-top: -30px;
        }
    }
}

.cart-list-dropdown {
    min-width: 300px;

    .list-group {
        margin-top: 15px;

        .list-group-item {
            .cart-listimg {
                width: 50px;
                margin-right: 10px;
                margin-bottom: 0;

                img {
                    width: 50px;
                }
            }
        }

        .h6,
        span {
            font-size: $fsize - 1;
        }

    }
}

.dropdown-menu-arrow {
    top: -25px;
    left: 25%;
    width: 0;
    height: 0;
    position: relative;

    @include mob {
        display: none;
    }
}

.dropdown-menu-arrow:before,
.dropdown-menu-arrow:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-width: 7px 8px;
    border-style: solid;
    border-color: transparent;
    z-index: 1001;
}

.dropdown-menu-arrow:after {
    bottom: -18px;
    right: -8px;
    border-bottom-color: #fff;
}

.dropdown-menu-arrow:before {
    bottom: -17px;
    right: -8px;
    border-bottom-color: rgba(0, 0, 0, .15);
}

//header 
header {

    background: $white;

    .mlink {
        padding: 8px 40px 8px 25px !important;
        line-height: 22px !important;

        .icomoonshop {
            color: $white !important;
            font-size: inherit !important;
        }
    }

    //top header 
    .top_header {
        @include transition;

        //primary nav 
        .primary-nav {
            background: $pcolor;
            padding: 5px 0;
            font-size: $fsize - 2;
            color: $white;
            @include transition;

            @include mob {
                display: none;
            }

            @include mscape {
                display: none;
            }

            .nav {
                .nav-link {
                    padding-top: 0;
                    padding-bottom: 0;

                    &:last-child {
                        padding-right: 0;
                    }

                    &:hover {
                        color: $orange;
                    }
                }
            }
        }

        //primary ends 

        //secondary nav 
        .secondary-nav {

            @include tab {
                padding-top: 10px;
            }

            .searchrow {
                @include mob {
                    background: $pcolor;
                    padding-bottom: 10px;
                }

                @include mscape {
                    background: $pcolor;
                    padding-bottom: 10px;
                }
            }

            .brand-section {

                @include mob {
                    padding: 5px 0;
                }

                @include mscape {
                    padding: 5px 0;
                }



                .brandimg {
                    width: 150px;

                    @include mob {
                        width: 75px;
                    }

                    @include mscape {
                        width: 75px;
                    }

                    @include tab {
                        width: 120px;
                    }
                }
            }

            .dropdown-menu {
                border-radius: 0;
            }

            .p-link {
                padding-left: 20px;

                .icon-caret-down {
                    font-size: $fsize - 3;
                }



                @include mob {
                    padding: 0 5px;
                }

                @include mscape {
                    padding: 0 5px;
                }


                a {
                    line-height: $fsize + 3;



                    &:hover {
                        color: $gray;
                    }

                    @include mob {
                        span {
                            font-size: $fsize - 2;
                            color: $white;
                        }
                    }

                    @include mscape {
                        span {
                            font-size: $fsize - 2;
                            color: $white;
                        }
                    }
                }

                .icomoon1 {
                    font-size: $fsize + 8;
                    color: $gray;

                    @include mob {
                        font-size: $fsize + 3;
                        color: $white;
                    }

                    @include mscape {
                        font-size: $fsize + 3;
                        color: $white;
                    }
                }
            }

            //search 
            .search-header {
                height: auto;

                @include mob {
                    margin-left: 40px;
                }

                @include mscape {
                    margin-left: 40px;
                }

                @include tab {
                    margin-left: 60px;
                    margin-top: 10px;
                }

                .form-control {
                    width: 100%;
                    padding-right: 20px;
                }

                .icomoon {
                    color: $gray;
                }

                .submit-btn-search {
                    text-indent: 0;
                    background: none;
                    border: none;
                    position: absolute;
                    right: 5px;
                    top: 3px;
                    padding: 5px;
                }
            }

            //right links 
            .right-links {
                display: flex;
                justify-content: flex-end;


                @include mob {
                    padding-left: 0;
                }

                .icon-tracking {
                    font-size: $fsize * 2 + 8;

                    @include mob {
                        font-size: $fsize * 2 + 3;
                    }

                }

                .cart-value {
                    .value {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: $orange;
                        color: $black;
                        font-size: $fsize - 2;
                        top: -12px;
                        right: 0px;
                        text-align: center;
                        display: inline-block;
                        padding: 3px;
                        line-height: 16px;

                        @include mob {
                            display: none;
                        }

                        @include mscape {
                            display: none;
                        }
                    }

                }
            }
        }

        //secondary ends 
    }

    //top header ends 

    //main nav
    .main-nav {
        padding: 5px 0;

        @include mob {
            .navbar-collapse {
                position: absolute;
                top: -15px;
                right: 105%;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
                width: 100%;
                overflow-y: auto;
                height: 550px;
                transition: all 0.3s ease;
                display: block;
                background: $white;
                @include shadow-center;

            }

            .navbar-collapse.collapsing {
                height: auto !important;
                margin-right: 50%;
                transition: all 0.3s ease;
                display: block;
            }

            .navbar-collapse.show {
                right: 0;

            }
        }

        @include mscape {
            .navbar-collapse {
                position: absolute;
                top: -15px;
                right: 107%;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
                width: 100%;
                overflow-y: auto;
                height: 350px;
                transition: all 0.3s ease;
                display: block;
                background: $white;
                @include shadow-center;

            }

            .navbar-collapse.collapsing {
                height: auto !important;
                margin-right: 50%;
                transition: all 0.3s ease;
                display: block;
            }

            .navbar-collapse.show {
                right: 0;

            }
        }



        //main navbar 
        .main-navbar {
            background: $pcolor;
            color: $white;
            margin-top: 10px;

            @include mob {
                background: none;

                .navbar-toggler {
                    position: relative;
                    border: 1px solid $white;
                    color: $white;
                    top: -64px;
                    left: -8px;
                }

                .navbar-collapse.show {
                    z-index: 99;
                    @include shadow-center;
                }
            }

            @include mscape {
                background: none;

                .navbar-toggler {
                    position: relative;
                    border: 1px solid $white;
                    color: $white;
                    top: -64px;
                    left: -8px;
                }

                .navbar-collapse.show {
                    z-index: 99;
                    @include shadow-center;
                    top: -50px;
                    position: relative;
                }
            }

            @include tab {
                background: none;

                .navbar-toggler {
                    position: relative;
                    border: 1px solid $pcolor;
                    color: $pcolor;
                    top: -54px;
                    left: -8px;
                }

                .navbar-collapse.show {
                    z-index: 99;
                    @include shadow-center;
                    top: -50px;
                    position: relative;
                }
            }


            .navbar {
                padding: 5px 0;
            }

            .nav-item {
                .nav-link {
                    color: $white;
                    font-size: $fsize - 1;
                    text-transform: uppercase;

                    @include mob {
                        color: $black;
                    }

                    @include mscape {
                        color: $black;
                    }

                    @include tab {
                        color: $black;
                    }

                    &:hover {
                        background: $white;
                        border-radius: 20px;
                        color: $pcolor;
                    }
                }

            }



            .primary-navbar {
                color: $white;
                width: 100%;

                @include mscape {
                    padding: 15px;
                }

                @include tab {
                    padding: 15px;
                }


                .dropdown-menu {
                    border-radius: 0;
                    top: 35px;
                    @include shadow-center;

                    a {
                        padding: 10px;
                        font-size: $fsize - 1;

                        &:hover {
                            background: $pcolor;
                            color: $white;
                        }
                    }
                }
            }

            .righttop-nav {
                margin-right: -24px;

                @include mob {
                    margin-right: 0;
                    justify-content: center !important;
                    margin-top: 20px;
                }

                .nav-link {
                    background: $white;
                    @extend .border_radius;
                    color: $pcolor;
                    text-align: center;
                    margin-left: 2px;
                    border: 1px solid transparent;

                    @include mob {
                        border-color: $pcolor;
                    }

                    &:hover {
                        background: $pcolor;
                        border: 1px solid $white;
                        color: $white;
                    }
                }
            }
        }

        //main nav bar ends 

    }

    //main nav ends 

    .special-nav {
        background: $lightblue;
        font-size: $fsize - 1;

        @include mob {
            margin-top: -56px;
            position: relative;
            padding: 5px 0;

            .navbar-collapse {
                top: 42px;
            }
        }

        @include mscape {
            margin-top: -56px;
            position: relative;
            padding: 5px 0;

            .navbar-collapse {
                top: 42px;
            }
        }

        @include tab {
            margin-top: -56px;
            position: relative;
            padding: 5px 0;

            .navbar-collapse {
                top: 42px;
            }
        }



        .navbar-brand {
            font-size: $fsize;
            @extend .fbold;
        }

        .navbar {
            padding: 0;

            .nav-link {
                color: $black;
                opacity: 1;

            }
        }


    }

    .special-rightnav {
        padding-right: 0;

        .nav-link {
            @extend .fbold;
        }
    }
}

//header ends 

//main
main {
    min-height: 800px;
    padding-top: 205px;

    @include mob {
        padding-top: 145px;
    }

    @include mscape {
        padding-top: 140px;
    }
}

//main ends 

.categories {
    padding: 15px 0;

    .category-items {
        display: flex;
        justify-content: center;

        @include mob {
            justify-content: start;
        }

        @include mscape {
            justify-content: start;
        }

        @include tab {
            justify-content: start;
        }
    }

    @include mob {
        padding: 0;
        overflow-x: auto;
    }

    @include mscape {
        padding: 0;
        overflow-x: auto;
    }

    @include tab {
        padding: 0;
        overflow-x: auto;
    }

    .cat-col {
        text-align: center;
        margin: 0 25px;

        @include mob {
            margin: 0 15px;
        }

        @include mscape {
            margin: 0 6px;
        }


        .icon {
            width: 115px;
            height: 115px;
            @include shadow-bot;
            border-radius: 50%;
            text-align: center;
            display: flex;
            line-height: 140px;
            @include transition;
            align-items: center;
            justify-content: center;

            @include mob {
                width: 85px;
                height: 85px;
            }

            @include tab {
                width: 85px;
                height: 85px;
            }

            &:hover {
                background: $pcolor;

                .icomoon {
                    color: $white;
                }
            }

            .icomoon {
                font-size: $fsize * 3 + 5;
                color: $pcolor;

                @include mob {
                    font-size: $fsize * 3;
                }
            }
        }

        a {
            @include transition;

            @include mob {
                font-size: $fsize - 2;
            }

            &:hover {
                color: $pcolor;
            }
        }
    }
}

//home carousel
.slider-home {
    .carousel {
        @include shadow-bot;

        .carousel-control-next,
        .carousel-control-prev {
            width: 50px;
            height: 50px;
            background: $pcolor;
            border-radius: 50%;
            top: 42%;
        }
    }

    .mob-rtslider {
        @include mob {
            display: flex;
            padding-top: 5px;

            a {
                padding: 0 3px;
            }
        }

        @include mscape {
            display: flex;
            padding-top: 5px;

            a {
                padding: 0 3px;
            }
        }

        @include tab {
            display: flex;
            padding-top: 5px;

            a {
                padding: 0 3px;
            }
        }
    }

    .rtslider {
        &:hover {
            filter: grayscale(100);
        }

        img {
            margin-bottom: 5px;
            @include shadow-bot;
            @include transition;
        }
    }
}

//home carousel

//speciall picked for u
.splcol {
    background: lighten($gray, 30%);
    padding: 5px;
    width: 100%;
    @include shadow-bot;



    .figure {
        width: 50%;

        @include mob {
            align-self: center;
        }

        img {
            width: 100%;
            @include objectfitcover;

            @include mob {
                height: 270px;
            }

        }
    }

    article {
        width: 50%;
        background: $white;
        padding: 60px 0;
    }
}

//speciall picked for u ends 

//home category 
.home-products {
    padding: 20px 0;

    @include mob {
        .col-lg-3 {
            width: 50%;
        }
    }
}

//home category 

.title-cat {
    position: relative;
    margin: 15px 0;

    &:before {
        content: "";
        width: 100%;
        height: 1px;
        background: lighten($gray, 25%);
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        z-index: -1;
    }

    .h4 {
        font-size: $fsize + 5;
        background: $white;
        padding: 6px;

        @include mob {
            font-size: $fsize + 1;
        }
    }
}

//product col 
.product-col {
    background: $lightblue;
    @include transition;
    margin-bottom: 15px;
    border: 1px solid #eee;

    &:hover {
        @include shadow-bot;

        figure {
            img {
                transform: scale(1.05);
            }
        }
    }

    figure {
        position: relative;
        margin-bottom: 0;
        overflow: hidden;

        img {
            @include transition;
        }

        .badge {
            position: absolute;
            top: 5px;
            right: 5px;
            border-radius: 0;
        }
    }

    article {
        padding: 10px;

        h5 {
            @include mob {
                line-height: 20px;
            }

            a {
                font-size: $fsize + 2;

                @include mob {
                    font-size: $fsize - 2;
                }

                @include mscape {
                    font-size: $fsize - 1;
                }


                &:hover {
                    color: $pcolor;
                }
            }
        }
    }
}

.del-info {
    @include mob {
        width: 100%;
        display: block !important;

        p {
            width: 100%;
            text-align: left;
        }
    }
}

.price {
    padding: 10px 0;

    @include mob {
        padding: 0;
    }

    .icon-inr {
        padding-top: 2px;
        position: relative;
        top: 2px;
    }

    .offer-price {
        font-size: $fsize - 2;
        color: $gray;
        text-decoration: line-through;
        padding: 0 5px;

        .icon-inr {
            top: 1px;
        }
    }
}

//product col 

.home-about {
    p {
        text-align: justify;
        padding-bottom: 28px;
    }

    .highlet-col {
        @include mob {
            padding: 10px 0;
            border-bottom: 1px solid lighten($gray, 20%);
        }

        .icomoon {
            font-size: $fsize * 4;
            color: $pcolor;
        }

        .h5 {
            padding-top: 20px;
        }
    }
}

footer {
    background: $lightblue;
    padding: 25px 0 0 0;
    margin: 25px 0 0 0;

    .footer-list {
        padding-bottom: 15px;

        @include mob {
            border-bottom: 1px solid $gray;
            margin-bottom: 10px;
        }

        .h6 {
            padding-right: 10px;
        }

        a {
            display: inline-block;
            font-size: $fsize - 1;

            &:after {
                content: "|";
                padding: 0 10px;

                @include mob {
                    content: '';

                }
            }

            &:last-child {
                &:after {
                    content: '';
                    padding: 0;
                }
            }

            &:hover {
                color: $pcolor;
            }

        }
    }

    .subscribe-section {
        padding: 20px 0;
        background: $white;

        @include mob {
            text-align: center;

            .nav {
                justify-content: center;
                padding-bottom: 15px;
            }

            .col-lg-6 {
                .h6 {
                    text-align: center !important;
                    font-size: $fsize;
                }
            }
        }


        .footersocial {
            .nav-link {
                padding: 0 5px;
                @include transition;

                &:hover {
                    img {
                        filter: grayscale(100%);
                    }
                }

                img {
                    width: 36px;
                    @include transition;
                }
            }
        }

        .subscribe-footer {

            .input-group {
                width: 75%;

                input[type="text"] {
                    border: 1px solid $gray;
                    border-radius: 0;
                    width: 100%;
                    padding-left: 10px;

                }
            }


            .btn-sub {
                @extend .mlink;
                border: none;
                border-radius: 0 !important;
                padding-right: 25px !important;

                &:hover {
                    padding-right: 25px !important;
                }
            }
        }
    }

    .bottom-footer {
        padding: 15px 0;

        p {
            padding: 0;
            margin: 0;

            @include mob {
                text-align: center;
                padding-top: 10px;
            }
        }
    }
}

//modal styles
.custom-modal {
    border-radius: 0;

    .modal-header {
        background: $pcolor;
        color: $white !important;
        border-radius: 0;

        .close {
            opacity: 1;

            &:focus {
                outline: none;
            }

            .icomoon {
                font-size: $fsize + 4;
                color: $white;
                opacity: 1;
                box-shadow: none;
            }
        }
    }
}

.city-modal {
    form {
        .icomoon {
            top: 12px;
            right: 10px;
            color: $gray;
        }
    }

    input {
        width: 100%;
        height: 40px;
        padding-left: 10px;
        padding-right: 25px;
    }
}


.modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

.ui-autocomplete-input {
    position: relative;
}

.ui-autocomplete {
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 1051 !important;
    float: left;
    display: none;
    min-width: 160px;
    width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item>a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover,
.ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.cities-list {
    ul {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;

        li {
            width: 48%;



            a {
                display: block;
                padding: 10px;
                border: 1px solid lighten($gray, 25%);
                margin-left: -1px;
                margin-top: -1px;

                &:hover {
                    background: $pcolor;
                    color: $white;
                }
            }
        }
    }
}

.movetop {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    @include shadow-bot;
    position: fixed;
    right: 10px;
    bottom: 85px;
    display: none;
    text-align: center;
    line-height: 50px;
    @include transition;
    background: $white;
    z-index: 999;


    &:hover {
        background: $pcolor;

        .icomoon {
            color: $white;
        }
    }


    .icomoon {
        font-size: $fsize + 5;
    }
}

.sub-header {
    @include shadow-bot;
    padding: 15px 0;

    .form-group {
        margin-bottom: 0;
    }

    @include mob {
        .h5 {
            text-align: center;
            font-size: $fsize + 2;
        }

        .sortby {
            .form-control {
                width: 100%;
                margin: 10px 0;
            }
        }
    }

}

.showing {
    &:after {
        content: "|";
        padding: 0 15px;
    }
}

.subpage-body {
    padding-top: 20px;

    p {
        font-size: $fsize;
        line-height: $fsize + 10;
        padding-bottom: 10px;
        text-align: justify;
    }
}

.sortby {
    .form-control {
        width: 200px;
        margin-left: auto;
    }
}

.header-brcrumb {
    background: none;
    float: right;
    margin-bottom: 0;

    @include mob {
        float: none;
        justify-content: center;
        text-align: center;
        padding-bottom: 15px;
    }

    li {
        float: left;

        @include mob {
            float: none;
            display: inline-block;
        }

        a {
            font-size: $fsize - 2;

            &:after {
                font-family: 'icomoon' !important;
                content: "\f054";
                padding: 0 10px;
                font-size: $fsize - 5;
                position: relative;
                top: 1px;
            }

            &:hover {
                color: $pcolor;
            }
        }

        &:last-child {
            a {
                color: $gray;

                &:after {
                    content: '';
                    padding: 0;
                }
            }
        }
    }

}

//product detail
.product-detail-slider {
    @include shadow-bot;

    .thumbs {
        bottom: -16px;
        display: none;

        @include mob {
            bottom: -94px;
        }

        li {
            text-indent: 0;
            width: 75px;
            height: 74px;
            opacity: 1;
            margin: 0;
            border: 1px solid $white;

            img {
                width: 75px;

                @include mob {
                    width: 65px;
                }
            }
        }

        .active {
            filter: grayscale(100%);
        }

    }

    .badge {
        @extend .badge;
        position: absolute;
        border-radius: 0;
        right: 0;
    }
}

.product-desc {

    @include mob {
        padding-top: 100px;

        .h3 {
            font-size: $fsize + 8;
        }
    }

    @include mscape {
        padding-top: 20px;

        .h3 {
            font-size: $fsize + 8;
        }
    }

    @include tab {
        padding-top: 20px;

        .h3 {
            font-size: $fsize + 8;
        }
    }

    .price {
        .price-in {
            &:first-child {
                h6 {
                    &:after {
                        content: "|";
                        padding: 0 15px;
                    }
                }
            }
        }
    }

    .delivery-info {
        margin-top: 25px;

        .form-control {
            font-size: $fsize - 1;
            height: 40px;
        }
    }

}

.date-input {
    .icomoon {
        top: 11px;
        right: 10px;
        color: $gray;
        z-index: 999;
    }
}

.table-pro {
    margin-top: 10px;

    tr {
        td {
            padding: 10px;
        }
    }
}

.parentHorizontalTab {
    padding-top: 25px;

    p {
        padding-bottom: 15px;
    }
}

.related-products {
    padding-top: 25px;
}

.cartlist-header {
    background: $pcolor;
    padding: 10px 0;

    @include mob {
        display: none;
    }

    @include mscape {
        display: none;
    }

    span {
        color: $white;
        @extend .fbold;
    }
}

.cartlist {
    @include shadow-bot;
    padding: 5px;
    margin-bottom: 15px;

    @include mob {
        .h5 {
            a {
                font-size: $fsize;
            }
        }

        p {
            text-align: left;
        }
    }
}

.edit-icon {
    top: 2px;
    left: 5px;
}

.change-dttime {
    position: relative;
    margin-top: 25px;
}

.cust-close {
    top: 0;
    right: 10px;
    background: $pcolor;
    cursor: pointer;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 27px;
    text-align: center;
    z-index: 99;

    .icomoon {
        color: $white;
    }
}

.addons {
    height: 600px;
    overflow-y: auto;

    .product-col {
        h5 {
            a {
                font-size: $fsize;
            }
        }
    }
}

.custom-accordion {

    .accord-content {
        padding: 0 15px;
        border: 1px solid $gray;
    }

    h3 {
        font-size: $fsize;
        padding: 10px;
        border: 1px solid $gray;
        text-transform: uppercase;
        cursor: pointer;

        .number {
            background: $pcolor;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            color: $white;
            display: inline-block;
            margin-right: 10px;
        }

        &:hover {
            background: $pcolor;
            color: $white;

            .number {
                background: $white;
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                color: $white;
                display: inline-block;
                color: $pcolor;
            }
        }
    }

    .collapse-active {
        background: $pcolor;
        color: $white;

        .number {
            background: $white;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            color: $white;
            display: inline-block;
            color: $pcolor;
        }
    }

}

.checkout-revieworder {
    padding: 15px;
}

.checkout-right {
    @include shadow-bot;
    padding: 10px;
}

.shield-div {
    .h1 {
        font-size: $fsize * 4;
        color: $gray;
    }
}

.signmain {

    @include mob {
        align-items: flex-start !important;
    }

    .sign-section {
        width: 400px;
        padding: 40px;
        box-sizing: border-box;
        @include shadow-center;
        min-height: 150px;

        @include mob {
            width: 300px;
            padding: 20px;
        }
    }
}

.stores {

    @include mob {
        .col-lg-3 {
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid lighten($gray, 25%);
        }
    }

    .h6 {
        color: $pcolor;
    }
}

.list-item {
    li {
        position: relative;
        padding-left: 25px;
        padding-bottom: 10px;
        text-align: justify;

        &:before {
            content: '';
            width: 10px;
            height: 10px;
            background: $pcolor;
            border-radius: 50%;
            margin-right: 10px;
            position: absolute;
            left: 5px;
            top: 5px;
        }
    }
}

.rating-col {
    .card-header {
        select.form-control {
            option {
                padding: 10px 0;
            }
        }
    }

    @include mob {
        .card-body {
            padding-left: 0;
        }
    }

    .review-item {
        @include shadow-center;
        margin: 15px;
        padding: 20px 0;

        include mob {
            p {
                text-align: left;
            }
        }

        @include mob {
            width: 100%;
            display: block !important;
        }

        @include mscape {
            width: 100%;
            display: block !important;
        }

        .item-left {
            width: 12%;

            @include mob {
                width: 100%;
                text-align: left !important;
                padding: 15px;
            }

            @include mscape {
                width: 100%;
                text-align: left !important;
                padding: 15px;
            }

            @include tab {
                width: 20%;
                text-align: left !important;
                padding: 15px;
            }

            .name-ltr {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                text-align: center;
                line-height: 56px;
                font-size: $fsize * 2;
                display: inline-block;
                color: $white;
            }
        }

        .item-right {
            width: 75%;
            align-self: center;

            @include mob {
                width: 100%;
                padding: 15px;
            }

            @include mscape {
                width: 100%;
                padding: 15px;
            }

            @include tab {
                width: 80%;
                padding: 15px;
            }

            .h5 {
                font-size: $fsize + 2;
                margin-bottom: 0;
            }

            p {
                font-size: $fsize - 1;

                @include mob {
                    text-align: left;
                }

                @include mscape {
                    text-align: left;
                }
            }

            .rating {
                .icomoon {
                    font-size: $fsize + 1;
                    color: $blue;
                }

                .norate {
                    font-size: $fsize + 1;
                    color: $black;
                }
            }
        }

        .last {
            width: 10%;
            padding-right: 20px;
            font-style: italic;

            @include mob {
                width: 100%;
            }

            @include mscape {
                width: 100%;
            }

            @include tab {
                width: 20%;
            }
        }
    }
}

.a {
    background: #bada55;
}

.b {
    background: #7fe5f0;
}

.c {
    background: #ff0000;
}

.d {
    background: #ff80ed;
}

.e {
    background: #696969;
}

.f {
    background: #133337;
}

.g {
    background: #065535;
}

.h {
    background: #c0c0c0;
}

.i {
    background: #5ac18e;
}

.j {
    background: #666666;
}

.k {
    background: #dcedc1;
}

.l {
    background: #f7347a;
}

.m {
    background: #000000;
}

.n {
    background: #ffc0cb;
}

.o {
    background: #420420;
}

.p {
    background: #008080;
}

.q {
    background: #ffd700;
}

.r {
    background: #ff7373;
}

.s {
    background: #ffa500;
}

.t {
    background: #40e0d0;
}

.u {
    background: #b0e0e6;
}

.v {
    background: #0000ff;
}

.w {
    background: #003366;
}

.x {
    background: #fa8072;
}

.y {
    background: #800000;
}

.z {
    background: #800080;
}


.contact-rt {
    background: $lightblue;
    padding: 20px;
    @include shadow-center;

    @include mob {
        margin-top: 20px;
    }
}

.card {
    border-radius: 0;

    .card-header {
        background: $lightblue;
        border-radius: 0;
    }

    .card-footer {
        background: none;
    }
}

.faq-right {
    background: $white;
    @include shadow-center;

    @include mob {
        margin-top: 25px;
    }

    @include mscape {
        margin-top: 25px;
    }
}

.faq-contact {
    border-bottom: 1px solid $gray;
    padding: 20px;

    .icon {
        font-size: $fsize + 10;
        color: $pcolor;
        padding-right: 25px;
    }

    p {
        text-align: left;
    }
}

.accordion {
    h3 {
        background: none;
        border-radius: 0;
    }

    .ui-state-active {
        background: $pcolor;
        border: 1px solid $pcolor;
    }

    .ui-icon {
        display: none;
    }
}

.coupons {
    img {
        padding: 5px;
        border: 1px solid #eee;
        border-radius: 5px;
        margin-bottom: 15px;
    }
}

.shadow-center {
    @include shadow-center;
}

.user-intro {
    img {
        height: 50px;
        margin-right: 15px;
    }

    .icomoon {
        display: none;

        @include mob {
            display: inline-block;
        }

        @include mscape {
            display: inline-block;
        }
    }
}

.user-nav {
    @include mob {
        display: none;
    }

    @include mscape {
        display: none;
    }

    ul {
        li {
            a {
                font-size: $fsize;

                padding: 15px;
                border-bottom: 1px solid lighten($gray, 30%);
                display: block;

                &:hover {
                    background: $pcolor;
                    color: $white;
                }
            }

            .active-nav {
                background: $pcolor;
                color: $white;
            }
        }
    }
}

.user-right {
    min-height: 500px;

    @include mscape {
        min-height: 250px;
    }
}

.user-address {
    padding: 15px;
    border: 1px solid lighten($gray, 25%);
    min-height: 15px;
    margin-bottom: 10px;

    p {
        text-align: left;
    }
}

.track-footer {
    font-size: $fsize - 1 !important;
}

.order-user {
    margin-bottom: 15px;
}

.order-detailrow {
    @include shadow-center;
    margin-bottom: 15px;
}

.order-detailin {
    padding: 15px;

    @include mob {

        .card {
            width: 100%;
        }

        display: block !important;

        .h6 {
            padding-top: 15px;
            width: 100% !important;
            display: block !important;


            span {
                width: 100%;
                display: block;
                padding: 5px 0;
            }

            font-size: $fsize;
        }
    }
}

@include mob {
    .trackingp {
        padding-left: 20px;
        padding-top: 180px !important;
    }
}

ol.progtrckr {
    margin: 0;
    padding: 0;
    width: 100%;



    li {
        // display: inline-block;
        text-align: center;
        line-height: 5em;
        width: 25%;
        float: left;

        @include mob {
            width: 50%;
        }


        &:before {
            position: relative;
            bottom: -3.8em;
            float: left;
            left: 50%;
            line-height: 1em;
            margin-left: -1.1em;
        }

        .trackname {
            margin-left: -1.1em;
        }
    }



    .progtrckr-done {
        color: black;
        border-bottom: 4px solid yellowgreen;

        &:before {
            content: "\f00c";
            color: white;
            background-color: yellowgreen;
            height: 2.2em;
            width: 2.2em;
            line-height: 2.2em;
            border: none;
            border-radius: 50%;
            font-family: 'icomoon' !important;
        }
    }

    .progtrckr-todo {
        color: silver;
        border-bottom: 4px solid silver;

        &:before {
            content: "";
            background-color: white;
            height: 2.2em;
            width: 2.2em;
            border: 1px solid $gray;
            border-radius: 50%;
        }
    }

}

ol.progtrckr[data-progtrckr-steps="2"] li {
    width: 50%;
}

ol.progtrckr[data-progtrckr-steps="3"] li {
    width: 75%;
}

ol.progtrckr[data-progtrckr-steps="4"] li {
    width: 100%;
}


/**
ol.progtrckr[data-progtrckr-steps="5"] li {
    width: 19%;
}

ol.progtrckr[data-progtrckr-steps="6"] li {
    width: 16%;
}

ol.progtrckr[data-progtrckr-steps="7"] li {
    width: 14%;
}

ol.progtrckr[data-progtrckr-steps="8"] li {
    width: 12%;
}

ol.progtrckr[data-progtrckr-steps="9"] li {
    width: 11%;
}
**/


.trackingp {
    padding-top: 100px;
}

//star rating 
.rating {
    margin-top: -20px;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
    follow these rules. Every browser that supports :checked also supports :not(), so
    it doesn’t make the test unnecessarily selective */
.rating:not(:checked)>input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

.rating:not(:checked)>label {
    float: right;
    width: 0.9em;
    /* padding:0 .1em; */
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 300%;
    /* line-height:1.2; */
    color: #ddd;
}

.rating:not(:checked)>label:before {
    content: '★ ';
}

.rating>input:checked~label {
    color: dodgerblue;

}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: dodgerblue;

}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: dodgerblue;

}

.rating>label:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.nobg {
    background: none !important;
}

.nobrd {
    border: none !important;

    &:focus {
        border: none !important;
        outline: none !important;
        box-shadow: none;
    }
}

.cart-drop {
    min-width: 200px;
    text-align: center;
    padding: 20px;
}

.online-col {
    margin-bottom: 15px;

    img {
        height: 300px;
        @include objectfitcover;
        border-bottom: 1px solid lighten($gray, 20%);

        @include mob {
            height: 150px;
        }

        @include tab {
            height: 210px;
        }

    }

    .card-body {
        padding: 15px;
        height: 70px;

        .h5 {
            text-align: center;
            line-height: $fsize + 6;
            margin: 0;

            @include mob {
                line-height: $fsize + 1;
            }

            a {
                font-size: $fsize + 1;

                @include mob {
                    font-size: $fsize - 3;
                }

                &:hover {
                    color: $pcolor;
                }
            }
        }
    }
}

.notification-item {
    padding: 7px;

    &:hover {
        .link-notification {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: $fsize - 1;
            @extend .fblue;
            @extend .fbold;
            margin-right: 0;
            opacity: 1;
        }
    }

    figure {
        width: 80px;
        margin-bottom: 0;

        img {
            @include objectfitcover;
            width: 80px;
        }
    }

    div {
        padding: 0 12px;
        position: relative;

        p {
            padding-bottom: 0;
            font-size: $fsize - 1;
            line-height: $fsize + 8;
        }

        .link-notification {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: $fsize - 1;
            @extend .fblue;
            @extend .fbold;
            margin-right: -20px;
            opacity: 0;
            @include transition;

            .icomoon {
                position: relative;
                top: 3px;
            }
        }
    }
}


//custom  mobile styles 
@include mob {
    //custom mobile collapse navbar slide from left 

    .h2 {
        font-size: 1.5em;
    }

    .main-nav {
        .dropdown-toggle {
            position: relative;
            padding-left: 15px;


            &:before {
                content: "\f0d7";
                font-size: $fsize - 2;
                font-family: 'icomoon' !important;
                position: absolute;
                left: 0;
                top: 10px;
            }
        }
    }

    .productsrow {
        .col-lg-3 {
            width: 50%;
            padding: 0 8px;

            .del-info {
                p {
                    text-align: left;
                    font-size: $fsize - 3;
                    padding-bottom: 0;
                }
            }
        }
    }

    .adresscolumn {
        padding: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid $gray;

        &:last-child {
            border: none;
        }
    }

    .mtext-center {
        text-align: center;
    }

    .mpb20 {
        padding-bottom: 20px;
    }

    .success-order {
        .mlink {
            margin-bottom: 10px;
            width: 100%;
        }
    }

    h2.resp-accordion {
        padding: 20px 15px !important;
    }

    h2.resp-tab-active {
        padding: 20px 15px !important;
    }
}

//custom mobile styles ends.


//custom small
@include mscape {
    .main-nav {
        .dropdown-toggle {
            position: relative;
            padding-left: 15px;


            &:before {
                content: "\f0d7";
                font-size: $fsize - 2;
                font-family: 'icomoon' !important;
                position: absolute;
                left: 0;
                top: 10px;
            }
        }
    }

    .mtext-center {
        text-align: center;
    }

    .mpb20 {
        padding-bottom: 20px;
    }
}

//custrom small